<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test1">
        <classes>
            <class name="ChainingPractice.Example004.CreateStudent"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="ChainingPractice.Example004.GetStudent"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="ChainingPractice.Example004.UpdateStudent"/>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="ChainingPractice.Example004.DeleteStudent"/>
        </classes>
    </test>
</suite>
